.id_card{
    max-width: 420px;
    width: 100%;
    /*height: 334px;*/
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 auto;
    padding: 32px;
    padding-top: 60px;
}
.kyc-image{
    height: 80px;
    width: 80px;
    margin: 0 auto;
}
.kyc-text{
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    padding: 44px 0 20px;
    text-align: center;
}