.pcWrapper{
    width: 100%;
    min-height: calc(100vh - 235px);
    padding-bottom: 77px;
    position: relative;
    padding-top: 100px;
}
.logospace{
    font-size: 18px;
    color: #393535;
    line-height: 35px;
    text-align: left;
    font-style: normal;
    display: flex;
    font-weight: bold;
}
.logoImg{
    margin-right: 10px;
}
.fixedButton{
    margin-top: calc(100vh / 2 - 105px) !important;
}
.mobileWrapper{
    padding-top: 40px;
    background-color: white;
    height: calc(100vh - 128px);
}
.mobileHello{
    font-size: 26px;
    color: #333333;
    line-height: 35px;
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: 30px;
}
.loginCard {
    width: 420px;
    background: #FFFFFF;
    border-radius: 16px;
    margin: 0 auto;
    padding: 32px 32px;
}
.mobileLoginCard{
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 0 28px;
}

.loginHello {
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    line-height: 30px;
    text-align: left;
    font-style: normal;
    margin-top: 28px;
}
.moblieLoginHello{
    margin-top: 0;
    margin-bottom: 44px;
    font-size: 26px;
}

.loginTitleText {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    line-height: 40px;
    text-align: left;
    font-style: normal;
}
.message{
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    margin-top: 2px;
}
.errorMessage{
    font-weight: 400;
    font-size: 12px;
    color: #EA2A2A;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    margin-top: 2px;
}

.loginSmallText {
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    margin: 24px 0 8px;
}

.loginValidate {
    font-weight: 400;
    font-size: 11px !important;
    color: #666666;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    gap: 4px;
    @media (max-width: 768px) {
        font-size: 10px !important;

    }
}

.fixedZone{
    position: fixed;
    bottom: 125px;
    width: calc(100vw - 56px) !important;

}