.productDetailBg{
    background-color: white;
    min-height: calc(100vh - 235px);
    min-width: 1200px;
}
.mobileProductDetailBg{
    background-color: white;
    padding: 0 16px;
}
.productDetailWrapper{
    display: flex;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.mobileProductDetailWrapper{
    display: flex;
    gap: 28px;
    padding-top: 20px;
    padding-bottom: 100px;
    flex-direction: column;
}
.productName{
    font-weight: 600;
    font-size: 28px;
    color: #333333;
    line-height: 40px;
    margin-bottom: 10px;
}
.mobileProductName{
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    line-height: 28px;
    margin-bottom: 10px;
}
.date{
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    line-height: 22px;
    text-align: left;
    font-style: normal;
    margin-bottom: 24px;
}
.mobileDate{
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    text-align: left;
    font-style: normal;
    margin-bottom: 24px;
}

.contentWrapper{
    width: 1200px;
    margin: 0 auto;
}
.mobileContentWrapper{
    width: 100%;
}
.block{
    background: #F9F9FB;
    border-radius: 20px;
    width: 100%;
    flex: 1;
    padding: 24px;
    min-height: 252px;
    padding-bottom: 19px;
}
.range{
    display: flex;
    margin: 0 20px;

}
.text{
    flex: 1;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #3C53FF;
    line-height: 17px;
}
.left{
    width: 520px;
}
.mobileLeft{
    width: 100%;
}
.productTitle{
    text-align: center;
    line-height: 45px;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
}
.productInfo{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 25px;
    justify-content: center;
}
.tip{
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 44px;
    text-align: center;
}
.coinImg{
    height: 60px;
    width: 60px;
    margin: 15px auto;
}
.inlineSlider{
    display: flex;
}
.inlineCoinImg{
    height: 28px;
    width: 28px;
    margin-top: 4px;
    margin-right: 10px;
}
.coinText{
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    text-align: center;
}
.coinTextLittle{
    margin-top: 10px;
    margin-bottom: 20px;
}
.card{
    background: #FFFFFF;
    border-radius: 20px;
    border: 1px solid rgba(233,233,233,0.76);
    padding: 42px;
    padding-bottom: 12px;
    width: 100%;
}
.mobileCard{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    @media screen and (max-width: 600px){
        flex-direction: column;
    }
}
.row2{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    @media screen and (max-width: 600px){
        justify-content: flex-end;
    }
}
.label{
    width: 125px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    line-height: 26px;
    text-align: left;
    @media screen and (max-width: 600px){
        font-weight: 500;
        font-size: 14px;
        padding-bottom: 8px;
        width: 70px;
    }
}
.info{
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    line-height: 26px;

    text-align: left;
    @media screen and (max-width: 600px){
        font-size: 14px;
        width: 100%;
    }
}
.label2{
    width: 100px;
    text-align: right;
}
.button{
    width: 112px !important;
    margin-right: 10px;
    height: 32px !important;
}
.summary{
    font-weight: bold;
    font-size: 28px;
    color: #FF7E3C;
    @media screen and (max-width: 600px){
        font-size: 20px
    }
}
.checkbox{
    font-size: 12px;
    @media screen and (max-width: 600px){
        font-size: 10px
    }
}
.checkbox a{
    color: rgba(60, 83, 255, 1);
    @media screen and (max-width: 600px){
        font-size: 10px
    }
}
.selected{
    background: rgba(60,83,255,0.05) !important;
    border-radius: 8px;
    border: 1px solid #3C53FF;
}
.roi{
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 20px;
    text-align: center;
}
.canvasText{
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
.dogeInfo{
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    line-height: 24px;
    margin-top: 8px;
}