@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 20 14.3% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 20 14.3% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;

      --primary: 24 9.8% 10%;
      --primary-foreground: 60 9.1% 97.8%;

      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;

      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;

      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 20 5.9% 90%;
      --input: 20 5.9% 90%;
      --ring: 20 14.3% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;

      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;

      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;

      --primary: 60 9.1% 97.8%;
      --primary-foreground: 24 9.8% 10%;

      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;

      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;

      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 12 6.5% 15.1%;
      --input: 12 6.5% 15.1%;
      --ring: 24 5.7% 82.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

.data-\[state\=active\]\:bg-background[data-state=active] {
  background: #3C53FF !important;
  color: white !important;
}
.container-my{
  max-width: 1200px;
  margin: 0 auto;
}
.bg-gray{
  background-color: #F6F7F8;
}
.ant-slider-handle {
  height: 16px !important;
  width: 14px !important;
  margin-top: -3px !important;

}
.ant-slider-handle::before{
  display: none;
  /*height: 16px !important;*/
  /*  width: 14px !important;*/
}
.ant-slider-handle::after{
  border-radius: 3px !important;
  margin: 0 !important;
  height: 16px !important;
  width: 14px !important;
  left: 0 !important;
  top: 0 !important;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14) !important;
  background-image: url("../../public/handler_background.png");
  background-size: cover;
}
.ant-table-cell::before{
  content: none !important;
}
.ant-table-thead{
  height: 70px !important;
  background-color: white !important;
  .ant-table-cell{
    color: rgba(51,51,51,0.6) !important;
    background-color: white !important;
    font-weight: 400 !important;
    font-size: 16px !important;
  }
}
.ant-table-container{
  border: 1px solid rgba(233,233,233,0.76) !important;
  border-radius: 12px !important;
  overflow-y: hidden !important;
}
.ant-table-cell-fix-left-last::after{
  content: none !important;
}
.ant-table-expanded-row-fixed{
  padding: 0 !important;
}
.ant-checkbox+span {
  padding-inline-end: 0px !important;
}
.ant-modal-content{
  padding: 32px !important;
  border-radius: 20px !important;
}
.ant-modal-title{
  line-height: 37px !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #333333;
}
.ant-card-body{
  padding: 32px 40px !important;
}
.ant-popover-inner{
  box-shadow:  0px 0px 16px 0px rgba(7,48,48,0.11) !important;
}
.ant-modal-mask{
  backdrop-filter: blur(5px) !important;
}
.ant-modal-footer{
  margin-top: 0 !important;
}
.ant-modal-close{
  top: 26px !important;
    right: 26px !important;
}
.ant-layout{
  background-color: #f6f7f8;
}
.ant-input-group-addon{
  background-color: white !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #333333 !important;
}
.ant-input-group >.ant-input:first-child{
  border-right: none;
  text-align: center;
}
.ant-select-selector{
  border-color: #E9E9E9 !important;
}
.ant-layout-content{
  min-height: 800px !important;
  overflow-y: scroll !important;
}
.ant-form-item{
  justify-content: space-between;
}
.ant-form-item-label{
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #333333 !important;
  text-align: left !important;
  margin-top: 6px !important;
}