.footer-cus{
    background-color: #F5F7FF;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #333333;
    line-height: 21px;
    text-align: center;
    font-style: normal;
    width: 100%;
}
.footer-info{
    background: rgba(0,0,0,0.03);
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 35px;
    padding: 40px;
    line-height: 35px;
    box-sizing: content-box;
    justify-content: space-between;

    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    text-align: left;
    font-style: normal;
}
.logospace{
    font-family: ArialRoundedMTBold;
    font-size: 18px;
    color: #393535;
    line-height: 35px;
    text-align: left;
    font-style: normal;
    display: flex;
    img{
        margin-right: 10px;
    }
}
.pic-row{
    width: 100px;
    display: flex;
    justify-content: space-between;
    height: 18px;
    margin-top: 10px;
}
.container-my{
     max-width: 1200px;
     margin: 0 auto;
 }