.footer-cus{
    background-color: #F5F7FF;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #333333;
    line-height: 21px;
    text-align: center;
    font-style: normal;
    width: 100%;
}
.footer-info{
    background: rgba(0,0,0,0.03);
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 35px;
    padding: 40px;
    line-height: 35px;
    box-sizing: content-box;
    justify-content: space-between;

    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    text-align: left;
    font-style: normal;
}
.logospace{
    font-size: 18px;
    color: #393535;
    line-height: 35px;
    text-align: left;
    font-style: normal;
    display: flex;
    font-weight: bold;
    img{
        margin-right: 10px;
    }
}
.pic-row{
    width: 100px;
    display: flex;
    justify-content: space-between;
    height: 18px;
    margin-top: 10px;
}
.container-my{
     max-width: 1200px;
     margin: 0 auto;
 }
.cal-card-big{
    max-width: 1200px;
    background: #FFFFFF;
    border-radius: 20px;
    border: 1px solid rgba(233,233,233,0.76);
    margin: 0 auto 20px;
    padding: 20px 40px 32px;
}
.cal-card-big-header{

}
.login-hello{
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    line-height: 30px;
    text-align: left;
    font-style: normal;
    margin-top: 12px;
    margin-bottom: 12px;
}
.flex-wrap{
    display: flex;
    flex-direction: row;
}
.divider{
    width: 1px;
    height: inherit;
    background: #FFFFFF;
    border: 1px solid rgba(233,233,233,0.76);
    margin: 50px 30px 0;
}

.intro{
    flex: 1;
}
.intro-title{
    width: 100%;
    height: 32px;
    line-height: 32px;
    background: #F7F7F7;
    border-radius: 8px;
    display: flex;
    padding: 0 24px;
    margin-bottom: 12px;

}
.intro-single{
    flex: 1;
}
.intro-label{
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}
.intro-value{
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    line-height: 24px;
}
.cal-card-list{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 204px 204px 204px;
    grid-template-rows: 168px 168px;
}
.cal-card{
    background: #FFFFFF;
    border-radius: 20px;
    border: 1px solid rgba(233,233,233,0.76);
    backdrop-filter: blur(0px);
    padding: 28px 24px;
}
.form{
    flex: 1;
}
.cal-card-title{
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    line-height: 28px;
    img{
        height: 28px;
        width: 28px;
        display: inline-block;
        margin-right: 8px;
    }
}
.cal-card-count{
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    line-height: 28px;
    margin-top: 16px;
}
.cal-card-info{
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 21px;
    padding-top: 12px;
}