.container-my{
    max-width: 1200px;
    margin: 0 auto;
}
.banner{
    background-image: url("../../public/banner.png");
    height: 636px;
    background-size: cover;
}
.title{
    font-weight: bold;
    font-size: 70px;
    color: #333333;
    line-height: 72px;
    text-align: left;
    font-style: normal;
    padding-top: 240px;
}
.title2{
    font-weight: bold;
    font-size: 42px;
    color: #333333;
    line-height: 72px;
    text-align: left;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 40px;
}
.text{
    font-weight: 400;
    font-size: 20px;
    color: #999999;
    line-height: 30px;
    text-align: left;
    font-style: normal;
    padding-top: 40px;
}
.button-zone{
    padding-top: 40px;
}
.cardlist{
    display: flex;
    width: 100%;
    height: 250px;
    gap: 27px;
}


.image-avatar{
    height: 40px;
    width: 40px;
}
.card-title{
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    line-height: 30px;
    font-style: normal;
    margin-bottom: 12px;
}
.card-text{
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}
.question-title{
    font-weight: bold;
    font-size: 42px;
    color: #333333;
    line-height: 72px;
    text-align: left;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 40px;
}
.bbb{
    background: #D8D8D8;
    border-radius: 23px;
    opacity: 0.2;
}
.collapse-title{
    width: 100%;
    text-align: left;
    border-radius: 23px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 26px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 23px;
        padding: 16px 16px;
        font-weight: 500;
        color: #333333;
    }
}
.collapse-title:hover{
    background: #f8f8f8;
}
.grayquestion{
    border-radius: 23px;
}
.grayquestionopen{
    border-radius: 23px;
    background-color: #f8f8f8
}
.collapse-text{
    padding: 0 26px;
    padding-bottom: 26px;
    @media (max-width: 768px) {
        font-size: 12px;
        padding: 16px;
        padding-top: 0;
    }
}
.bbaaa:hover{
    background: #F9F9F9;
}
.collapse-span{
    border-radius: 4px;
    border: 1px solid #DEDEDE;
    height: 22px;
    width: 20px;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    align-items: center;
    float: left;
    margin-right: 10px;
}
.uparrowimg{
    @media (max-width: 768px) {
        height: 24px;
        width: 24px;
    }
    height: 38px;
    width: 38px;
    display: inline-block;
    background-size: cover;
    background-image: url("../../public/arrow-up-round-big.png");
}
.downarrowimg{
    @media (max-width: 768px) {
        height: 24px;
        width: 24px;
    }
    height: 38px;
    width: 38px;
    display: inline-block;
    background-size: cover;
    background-image: url("../../public/arrow-down-round-big.png");
}