.card-column-box{
    border-radius: 16px;
    border: 1px solid rgba(233,233,233,0.76);
    display: flex;
    .card-column-box-row{
        padding: 24px;
        display: flex;
        color: #333333;
        line-height: 22px;
        font-weight: 500;
        .card-column-box-row-label{
            min-width: 100px;
            font-size: 16px;
        }
        .card-column-box-row-content{
            font-size: 14px;

        }
    }
}
.card-column-box-title{
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    line-height: 28px;
    text-align: left;
    padding-bottom: 32px;
}

.divider-cus{
    height: 1px;
    display: flex;
}

.tips-cus{
    width: 52px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}
.tips-cus-success{
    color: #0DBB78;
    background: rgba(13, 187,120, 0.16);
}

.tips-cus-danger{
    background-color: rgba(250,93,93,0.14);
    color: #FA5D5D;
}