.wrapper{
    height: 32px;
    background: #F7F7F7;
    border-radius: 8px;
    text-align: center;
    line-height: 32px;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    transition: all 0.2s;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    user-select: none;
}
.noBgWrapper{
    @media screen and (max-width: 768px) {
        height: 16px;
        line-height: 16px;
        font-size: 10px;
        padding-left: 0;
    }
    height: 32px;
    border-radius: 8px;
    text-align: center;
    line-height: 32px;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    transition: all 0.2s;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    user-select: none;
}
.text{
    display: inline-block;
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏超出的内容 */
    text-overflow: ellipsis; /* 显示省略号 */
}
.wrapper:hover{
    background: #F0F0F0;
}
.noBgWrapper:hover{
    background: #F0F0F0;
}
.copyOutLine{
    color: #3C53FF;
}
.copyIcon{
    @media screen and (max-width: 768px) {
        height: 12px;
        width: 12px;
    }
    height: 16px;
    width: 14px;
    margin-left: 6px;
    cursor: pointer;
}